<div class="center jumbotron">
  <h1>Bienvenue sur PopKilométrique</h1>

  <h2>
    Veuillez vous connecter pour entrer vos frais kilométrique
  </h2>

  <%= link_to "Se connecter", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>